@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our webinar!</h1>
    <p>Learn about Codit on <a href="https://www.codit.eu/en/blog/">our blog</a>.</p>
</div>
